<footer>
    <div class="footer-info">
        <div class="footer-icon">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="foot-info-brand"><i class="fa-regular fa-copyright"></i> StayNest Private Limited</div>
        <div class="foot-links">
          <a href="/privacy">Privacy</a>
          <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>